name: EventShare Cloud CI/CD

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to Azure Storage Static Website ($web)
        uses: azure/CLI@v2
        with:
          inlineScript: |
            az storage blob upload-batch \
              --account-name "${{ secrets.AZURESTORAGEACCOUNT }}" \
              --destination "\$web" \
              --source "." \
              --sas-token "${{ secrets.AZURESASTOKEN }}" \
              --overwrite true
